.about {
  padding: 100px 80px;
  background: white;
}

.about-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about h2 {
  font-size: 42px;
  margin-bottom: 30px;
  color: #6d28d9;
}

.about p {
  font-size: 19px;
  line-height: 1.9;
  color: #555;
  margin-bottom: 20px;
}